# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
coverage.xml
htmlcov/
venv/
ENV/
env/

# Database
*.db
*.sqlite
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
node_modules
.venv/
